<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133503532314-l2tp2mvpecjiac5r5dj4rhsa1trjtgl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133503532314-l2tp2mvpecjiac5r5dj4rhsa1trjtgl9</string>
	<key>API_KEY</key>
	<string>AIzaSyCN0dAlpuE6WT4jBsOE1_6UsEsWV4BlovI</string>
	<key>GCM_SENDER_ID</key>
	<string>133503532314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reddittdemo</string>
	<key>PROJECT_ID</key>
	<string>redddit-clone-8af08</string>
	<key>STORAGE_BUCKET</key>
	<string>redddit-clone-8af08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133503532314:ios:3dd94d4602c49bc177c0a3</string>
</dict>
</plist>